# Stellar Network Configuration
VITE_STELLAR_NETWORK=testnet
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org

# Contract Addresses (Required)
VITE_CONTRACT_IP_REGISTRY=CBCGBBLBCCF6PZLSIFHCZZAEO33UPZVQAOZQBJBVZWWRFJZQTKLFFYBY
VITE_CONTRACT_ATOMIC_SWAP=CAQC36PDQX5QKHLZSWX2HHFBBFWJ3PQZMU4DO7ARUDJJQ2EKGJQ4Y3
VITE_CONTRACT_ZK_VERIFIER=CARGO3SRYJ6RDDTZ6IWDDNZCWWT6EATOHJPFB2WZYAANXHSZFVFHSX

# Optional Contract Addresses
VITE_CONTRACT_USDC=

# IPFS Gateway (used for metadata preview)
VITE_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs
